<html>
  <head>
    <title>Geolocation Results</title>
  </head>
  <body>
    <h1>Geolocation Results</h1>
    <p>The geolocation for {{address}} is:</p>
    <ul>
      <li>Latitude: {{latitude}}</li>
      <li>Longitude: {{longitude}}</li>
    </ul>
  </body>
</html>